buttonL {
  position: absolute;
  left: 620px;
  top: 550px;
  line-height: 60px;
  font-weight: bold;
  padding: 35px 35px;
  /*background: salmon;*/
  background-image: url("img/L.jpg");
  border: none;
}
buttonL:hover {
  background-image: url("img/Lbright.jpg");
}

buttonR {
  position: absolute;
  left: 730px;
  top: 550px;
  line-height: 60px;
  font-weight: bold;
  padding: 35px 35px;
  /*background: salmon;*/
  background-image: url("img/R.jpg");
  border: none;
}
buttonR:hover {
  background-image: url("img/Rbright.jpg");
}

buttonU {
  position: absolute;
  left: 675px;
  top: 450px;
  line-height: 60px;
  font-weight: bold;
  padding: 35px 35px;
  /*background: salmon;*/
  background-image: url("img/C.jpg");
  border: none;
}
buttonU:hover {
  background-image: url("img/Cbright.jpg");
}

buttonD {
  position: absolute;
  left: 675px;
  top: 650px;
  line-height: 60px;
  font-weight: bold;
  padding: 35px 35px;
  /*background: salmon;*/
  background-image: url("img/D.jpg");
  border: none;
}
buttonD:hover {
  background-image: url("img/Dbright.jpg");
}