buttonL {
  position: absolute;
  left: 620px;
  top: 550px;
  line-height: 60px;
  font-weight: bold;
  padding: 5px 30px;
  background: salmon;
  border: none;
}
buttonL:hover {
  background: lightsalmon;
}

buttonR {
  position: absolute;
  left: 730px;
  top: 550px;
  line-height: 60px;
  font-weight: bold;
  padding: 5px 30px;
  background: salmon;
  border: none;
}
buttonR:hover {
  background: lightsalmon;
}

buttonU {
  position: absolute;
  left: 675px;
  top: 450px;
  line-height: 60px;
  font-weight: bold;
  padding: 5px 30px;
  background: salmon;
  border: none;
}
buttonU:hover {
  background: lightsalmon;
}

buttonD {
  position: absolute;
  left: 675px;
  top: 650px;
  line-height: 60px;
  font-weight: bold;
  padding: 5px 30px;
  background: salmon;
  border: none;
}
buttonD:hover {
  background: lightsalmon;
}